$mainColor: #273689;
$alternateColor: #2196f3;

$white: #ffffff;
$black: #000000;

$light: #111111;
$light-darker: #333333;

$invert: #ffffff;

$breakpoint: 1270px;


// Text
$h1Size: 3rem;
$h2Size: 2rem;